
.header{
    height: 36vw;
    margin: 20px auto;
    background-image: url('../../assets/frontend_assets/header_img.png') ;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
    
}
.header-content{
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap:10px;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-content h2{
    font-weight: 700;
    color: white;
    font-size: max(3.5vw,22px);
    padding: 0;
    margin: 0;
    gap: 0;
}

.header-content p{
    font-size: 1vw;
    color: white;
    font-weight: 300;

}

.header-content button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    margin-bottom: 20px;
}


@media (max-width:750px) {
    .header-content{
        gap:5px;
        width: 100%;
    }
    .header-content h2{
        font-size: 15px;
    }
    .header-content button{
        font-size: 10px;
        margin-bottom: 10px;
        padding:5px 8px;
    }
    .header{
        min-width: 40vw;
    }
}